body{
    text-align: center;
    color: black;
}
h1{
    font-family: cursive;
    font-weight: 900;
}
h2{
    font-size: 30px;
}
#mycarousel{
    background-color: #fff;
}
.carousel-inner{
    margin-bottom: 15px;
    margin-top: 15px;
    color: #e5e4e2;
    font-size: 20px;
}
.carousel-content{
    background-color: #fff;
    border-radius: 25px;
}