body{
    text-align: center;
    color: white;
    background-color: pink;

}
.h1_h{
    font-size: 25px;
    font-family: monospace;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    width: 700px;
}
.object, #result_object_name,#result_objrct_accuracy{
    font-family: monospace;
    font-size: 15px;
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;

}